
@{
    ViewData["Title"] = "Test Page";
}

<h1>Test Page</h1>

<p>@ViewData["TestItem"]</p>  
 <iframe width="916" height="515" src="https://www.youtube.com/embed/cDhYjVyIHX4" 
 title="Citizen TV Live" frameborder="0"
 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
 allowfullscreen></iframe>